<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
  <staticContent>
    <mimeMap fileExtension=".json" mimeType="text/html" />
  </staticContent>
        <defaultDocument>
            <files>
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <remove value="index.php" />
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>